body{
    color: red;
    display: block;
    margin:0 auto;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: purple;
    /* align-items: center; */
}

.nav-title{
    display: flex;
    justify-content: left;
    padding: 0 1em;
}

.nav-container{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 1.25em;
    margin: 0;
}

.nav-list-item{
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    list-style: none;
}

.nav-list-item:last-child{
    margin-right: 0;
}


.main{
    background-color: aquamarine;
}
.skills{
    background-color: beige;
}
.projects{
    background-color: darkgreen;
}
.exp{
    background-color: gold;
}
.edu{
    background-color: pink;
}
.final{
    background-color: crimson;
}



.skills-list{
    list-style: none;
}